@media screen and(min-width:1280){
    .container{
        width: 1280px;
    }
}
*{
    margin: 0;
    padding: 0;
}
/* 首页的css */
.w1top{
    height: 50px;
    background: #f8f8f8;
    line-height:50px;
    color: #5b5b5b;
}
.w1t11>a{
 color:#535353;
}
.w1p1{
    width: 60px;
    height: 80px;
    margin: 0;
    padding-top: 15px;
    
}
.w1lf{
    float: left;
}
.w1rg{
    float: right;
}
.w1b1{
    clear: both;

  
}
.w1a1{
    position: absolute;
    margin-top:60px;
   left: 50%;
    left:100px;

}
.w1f1{
    background: #b92619;
    border: 0;
    border: 1px solid #b92619;
    margin-left:-5px;
    color: #fff;
   width: 53px;
   height:35px;
}
.w1f2{
    border:1px solid #b92619;
    width: 236px;
    height:35px;
}
.w1f11{
    
    margin-left:130px;
}
.w1b2{
    height:170px;

    text-align: center;
}
.w1p6{
    width:17px;
    height:17px;
}
.w1z1{
    font-size:30px;
    padding-top:32px;
    font-weight: bold;
    color: #666666;
}
.w1z2{
    font-size:20px;
    color:#666666;
}
.w1b3{
    background: #fff;
    border:1px solid #dcdcdc;
  
}
.w1p2{
    width: 100%;
    height:326px;
}
.w1b4{
    text-align: center;

}
.w1p3{
    width: 100%;
    
}

.w1t1{
    overflow: hidden;
}
.w1b5{
   
    text-align: center;
  
   
    
}

.w1xtb{
    margin: 0 auto;
}
.w1p4{
    width: 100%;
    height:383px;
}
.w1db1{
    width: 100%;
   
}
.w1db{
    background: #f2f2f2;
}
.w1p5{
    width:75px;
    height:105px;
    
}
.w1d11{
    position: absolute;
    left: 48%;
    margin-top:47px;
}
.w1hz1{
    clear: both;
    padding-top:192px;
   width: 100%;
}
.w1lb1{
    line-height:30px;
    float:left;
    margin-left:-160px;
}
.w1b11{
   
    font-size: 18px;
    font-weight: bold;
   
}
.w1b11>a{
    color: #6e6e6e;
}
.w1b12>a{
   color:#9f9f9f;
}
.w1b12{
    margin-left:5px;
}
.w1db2{
    position: absolute;
   margin: 0 auto;
    margin-top:43px;
    color: #8f8f8f;
}
.w1lb1>li>a:hover{
    text-decoration: none;
    color:#000;
}
.w1db2{
    text-align: center;
}
.w1p7{
    width:30px;
    height:30px;
    margin-top:40px;
}
.w1p8{
    font-size:26px;
}
.w1p8>span{
    color:#9e241d;
}
.w1p9{
    letter-spacing:4px;
}



/* wy2的css */
.w2p1{
   width: 100%;

}
.w2z11{
    font-size: 16px;
    color:#515151;
    padding-top:10px;
    font-weight: bold;
}
.w2bj1{
    font-size: 16px;
    color: #686868;
}
.w2z12{
    padding-top: 15px;
}
/* wy3的css */
.w3bj1{
    height: 322px;
}
.w3p1{
    width: 100%;
}
.w3z1{
    padding-top: 29px;
    color: #606060;
    font-weight: bold;
}
.w3z2{
    color: #6a6a6a;
}
.w3p2{
    width: 30px;
    height: 30px;
}